<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    {{>header}}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">About Us</h1>
        <p class="lead" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Earum accusantium sint corrupti cupiditate voluptatem. Eius inventore doloremque natus
            distinctio officia iure esse placeat accusamus cupiditate molestias, ab quidem voluptatum nesciunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Earum accusantium sint corrupti cupiditate voluptatem. Eius inventore doloremque natus
            distinctio officia iure esse placeat accusamus cupiditate molestias, ab quidem voluptatum nesciunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Earum accusantium sint corrupti cupiditate voluptatem. Eius inventore doloremque natus
            distinctio officia iure esse placeat accusamus cupiditate molestias, ab quidem voluptatum nesciunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Earum accusantium sint corrupti cupiditate voluptatem. Eius inventore doloremque natus
            distinctio officia iure esse placeat accusamus cupiditate molestias, ab quidem voluptatum nesciunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Earum accusantium sint corrupti cupiditate voluptatem. Eius inventore doloremque natus
            distinctio officia iure esse placeat accusamus cupiditate molestias, ab quidem voluptatum nesciunt.</p>
    </div>
    {{>footer}}
</body>

</html>