<footer class="text-muted">
    <div class="container text-center">
        {{!-- <p class="float-right">
            <a href="#">Back to top</a>
        </p> --}}
        <p>&copy;example.com <br /> Developed by Pradeepta Kumar Khatoi!</p>
    </div>
</footer>